@mixin flexbox-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flexbox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexbox-center-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}