$container-max-width: 768px;
$break-sm: 650px;
$break-md: 960px;

/* FONT VARIABLES */
$primary-font-family: 'Neo Sans';
$secondary-font-family: 'URW DIN';
$fs-section-title: 22px;
$fs-body-1: 16px;
$fw-500: 500;


/* TRANSITION VARIABLES */
$basic-transition: all 200ms ease-in-out;